/* You can add global styles to this file, and also import other style files */
@import "~golden-layout/src/css/goldenlayout-base.css";
@import "~golden-layout/src/css/goldenlayout-light-theme.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body,
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.lm_goldenlayout {
  margin-top: 10px !important;
}

.arriba {
  position: absolute;
  top: 0;
}
